body {
  margin: 0;
 
}
@media print {*{display: none}
 #print-side {display: block}} 
.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;

  cursor: pointer;
  float: right;
}

.pagination > li {
  color: #f3f3f3;

  display: inline-block;
  /* background-color: #070425ec; */
  
}

.pagination > li > a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
    border-radius: 14px;
    color: #f3f3f3;


}

.pagination > li > a:hover:not(.active) {
  border-radius: 5px;
  background-color: #070425ec;
  color: #f3f3f3;

}
.custommloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #070425ec;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.dots-5 {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: d5 1s infinite linear alternate;
}
@keyframes d5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}